/* General styles */
:root {
    --primary-color: #003366;
}

body {
    font-family: Arial, sans-serif;
}

header {
	background-color: var(--primary-color);
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
}

header,
main {
	margin: 0 auto;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

section {
    margin: 1rem auto;
    max-width: 960px;
    padding: .5rem;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
    content: "X";
}

h1 {
    color: white;
    margin: 0;
    font-size: 2.5em;
}

/* Styles for h2 elements */
h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    text-align: center;
}


figure {
    display: inline-block;
    max-width: 100%;
    width: auto;
}

img {
    padding: 5px;
    width: 100%;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    margin-top: 5px;
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px 0;
}


@media (min-width: 768px) {

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}

    nav a {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
    
    .navigation {
		display: flex;
	}
    .navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
   
}

