/* Larger view styles */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* temples-large.css */
h2 {
    margin-bottom: 20px; /* Ajusta este valor según sea necesario */
    font-size: 2em;
}

figure {
    width: 30%;
    margin: 1%;
}

figure img {
    width: 100%;
    height: auto;
}