/* General styles */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    display: grid;
    grid-gap: 1rem;
    background-color: #003366;
    padding: 10px 10px;
    border: 20px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

h2 {
    margin-bottom: 20px;
    /* Ajusta este valor según sea necesario */
}

figure {
    width: 100%;
    margin: 1%;
}

figure img {
    width: 100%;
    height: auto;
}

nav ul li a:hover {
    background-color: #00509e;
    color: #ffffff;
}

@media (min-width: 768px) {

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}

    nav a {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}